<ion-content class="auth-page" fullscreen>
  <div class="hero-section">
    <img src="assets/logo/k2-logo.png" alt="Logo" class="app-logo" />

    <h1>konnect 22</h1>

    <p>Create your password</p>
  </div>

  <div class="auth-card">
    <h2>Create Password</h2>

    <p class="subtitle">Create a strong password to secure your account</p>

    <ion-item lines="none" class="custom-input">
      <ion-label position="stacked">Password</ion-label>

      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Enter password"
        [(ngModel)]="password"
      >
      </ion-input>

      <ion-icon
        slot="end"
        [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
        (click)="showPassword = !showPassword"
      >
      </ion-icon>
    </ion-item>

    <ion-item lines="none" class="custom-input">
      <ion-label position="stacked">Confirm Password</ion-label>

      <ion-input
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="Confirm password"
        [(ngModel)]="confirmPassword"
      >
      </ion-input>

      <ion-icon
        slot="end"
        [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
        (click)="showConfirmPassword = !showConfirmPassword"
      >
      </ion-icon>
    </ion-item>

    <ion-button
      expand="block"
      class="auth-btn"
      (click)="createPassword()"
      [disabled]="isSubmitting"
    >
      <span *ngIf="!isSubmitting">Create Account</span>
      <span
        *ngIf="isSubmitting"
        style="display: flex; align-items: center; gap: 10px"
      >
        <ion-spinner name="crescent"></ion-spinner> Creating account...
      </span>
    </ion-button>
  </div>
</ion-content>
